@charset "utf-8";
/* CSS Document */

body {
  background-color: #fdfdfd;
  color: #333;
  font-family: "Montserrat", sans-serif;
	font-size: 10pt;
	line-height: 1.5;
	margin: 0;
}

ul, li {
  color: #333;
	font-size: 10pt;
}

a {
  color: orange;
	text-decoration: none;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

#maincontent {
  background-color: #fff;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
  background-color: #252831;
  display: flex;
  text-align: center;
  width: 100%;
}

nav h1 {
  margin: auto;
  padding: 10px;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    background-color: #eee;
    font-size: 10pt;
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 10px;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
    padding: 8px;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */
#map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #252831;
  height: auto;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .filter-options {
    text-align: left;
    padding: 0;
  }

  .filter-options h2 {
    display: inline;
    margin: 0 10px 0 20px;
  }

  .filter-options select {
    width: 200px;
  }
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: outside none none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  margin: 20px;
  text-align: left;
  width: 300px;
}

#restaurants-list div {
  margin: 10px 15px 15px;
  min-height: 150px;
  position: relative;
}

#restaurants-list span {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurants-list hr {
  background: #b8c2cc;
  border: 0 none;
  height: 1px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-height: 100%;
  max-width: 100%;
}

#restaurants-list li h1 {
  font-size: 14pt;
  margin: 0 0 15px;
}

#restaurants-list p {
  font-size: 11pt;
  color: #606f7b;
  margin: 0;
}

#restaurants-list li a {
  bottom: 5px;
  color: #b8c2cc;
  text-transform: uppercase;
}

#restaurants-list li a:hover {
  color: #f18200;
  text-decoration: underline;
}


/* ====================== Restaurant Details ====================== */
#restaurant-container, #reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15px;
  text-align: center;
}

#restaurant-container figure {
  margin: 0;
  position: relative;
  text-align: center;
}

#restaurant-container figcaption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 5px 0;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-img {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
}

.restaurant-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.restaurant-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.restaurant-details #restaurant-address {
  font-size: 12pt;
  font-weight: bold;
}

.restaurant-details #restaurant-hours td {
  color: #666;
  padding: 0 15px;
  text-align: left;
}

.inside #map-container {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin: 20px 0 0;
  width: 100%;
}

.inside #map {
  height: 100%;
  width: 100%;
}


/* ====================== Reviews ====================== */
#reviews-container {
  margin-bottom: 30px;
}

#restaurant-name, #reviews-container h2 {
  color: #f18200;
  font-size: 24pt;
  font-weight: 200;
  width: 100%;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  width: 100%;
}

#reviews-list .reviews-detail {
  margin: 10px;
}

#reviews-list .reviews-detail .name {
  display: inline;
  font-weight: bold;
}

#reviews-list .reviews-detail .date {
  display: inline;
  font-style: italic;
}

#reviews-list .reviews-detail .rating {
  color: #ffc83d;
}


/* ====================== Breakpoints ====================== */
@media screen and (min-width: 768px) {
  .restaurant-details, .inside #map-container {
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .restaurant-details-wrapper {
    margin: 10px 0 0 0;
  }

  #reviews-container {
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  #restaurant-container, #reviews-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
  }
}

@media screen and (min-width: 1200px) {
  #restaurant-container, #reviews-container {
    text-align: left;
    width: 1200px;
  }

  #restaurant-container figure {
    width: 65%;
  }

  #restaurant-img {
    min-height: 100%;
  }

  .restaurant-details-wrapper {
    flex-direction: column;
    margin: 0 0 0 2%;
    width: 33%;
  }

  .restaurant-details, .inside #map-container {
    height: 50%;
    text-align: center;
    width: 100%;
  }
}
